.history/
models/quantize_model_int8
models/base_model
models/finetuned_model
mlops_clean/
data/
.env
# .gitignore
# ignore models and data
*.bin
*.pt
*.onnx
*.safetensors
*.ckpt
*.pkl
*.zip
*.tar.gz
*.h5
*.safetensors
*.bin
*.pt
*.jsonl

# ignore cache / temp
__pycache__/
.ipynb_checkpoints/
*.log
*.tmp
*.cache

# VSCode
.vscode/

